@import "bootstrap.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";

$main_font: '20 Kopeek', sans-serif;

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}

.btn-white{
  text-decoration: none;
  padding: 23px 47px;
  background-color: white;
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #181818;
  border-radius: 40px;
}

header {
  z-index: 5;

  .header-tagline {
    display: inline-block;
    max-width: 213px;
  }

  .navbar-nav {
    align-items: center;

    .nav-item {
      &:first-child {
        border: 1px solid white;
        border-radius: 15px;
        padding: 7px 27px 7px 33px;
      }

      &:nth-child(2) {
        margin-left: 23px;
        border: 1px solid white;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 10px 14px 11px 14px;
      }

      &:nth-child(3) {
        padding: 10px;
        margin-left: 23px;
        border: 1px solid white;
        border-radius: 50%;
        width: 36px;
        height: 36px;
      }

      &:hover {
        border-color: black;
      }

      .nav-link {
        img {
          display: block;
        }

      }

    }
  }
}



.first-section{
  .rebranding{
    z-index: 5;
    top: 400px;
    left: 425px;
    max-width: 560px;
    h1{
      font-family: '20 Kopeek Book';
      font-size: 55px;
      line-height: 55px;
      color: #181818;
      margin-bottom: 30px;
    }
    h4{
      font-family: '20 Kopeek Book';
      font-size: 34px;
      line-height: 37px;
      color: #181818;
      margin-bottom: 88px;
    }
    .btn-white{
      margin-right: 20px;
    }
  }
  .main_banner {
    background-image: url("../images/image-1.jpg");
    background-size: cover;
    height: 100vh;

    &.item-2 {
      background-image: url("../images/image-2.jpg");
    }

    &.item-3 {
      background-image: url("../images/image-3.jpg");
    }

    &.item-4 {
      background-image: url("../images/image-4.jpg");
    }
  }
}
